<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Bankiizard - Your Financial Companion</title>

    <script>
      // Check if the page is being reloaded
      if (performance.navigation.type === 1) {
        // Redirect to the root page
        window.location.href = "/bankdetails";
      }
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles-ifsc.css" />

    <link rel="stylesheet" href="style_detail.css" /> 
    <link rel="stylesheet" href="ifsc-details.css" />

  </head>
  <body>   
    <div class="detail-container1">
      <% if (locals.content && typeof content ==='object') {%>
      <div class="detail-container">
        <h1 class="heading">Bank Details:</h1>
        <ul>
          <% for (const key in content) { %>
          <li>
            <strong><%= key %> : </strong>
            <strong style="color: rgb(150, 250, 249)"
              ><%= content[key] %></strong
            >
          </li>
          <% } %>
        </ul>
      </div>
      <% }else if (locals.error) { %>
      <h1 style="color: darkkhaki; padding: 60px"><%= error %></h1>
      <% } else { %>
    </div>

    <div class="container">
      <div class="form-container">
        <form action="/submit" method="post" class="form">
          <label class="text" for="postData">Enter your IFSC code:</label>
          <input type="text" id="postData" name="postData" required />
          <button class="button" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <% } %>
  </body>
</html>
