<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BankiiZard</title>
    <script>
        // Check if the page is being reloaded
        if (performance.navigation.type === 1) {
            // Redirect to the root page
            window.location.href = "/";
        }
    </script>
  </head>
  <body>
    <% if (locals.content && typeof content ==='object') {%> 
      <h2>Bank Details:</h2>
      <ul>
        <% for (const key in content) { %>
          <li><strong><%= key %>:</strong> <%= content[key] %></li>
        <% } %>
      </ul>
      <% } else { %>
    <form action="/submit" method="post">
      <label for="postData">Enter your IFSC code:</label>
      <input type="text" id="postData" name="postData" required />
      <button type="submit">Submit</button>
    </form>
    <% } %>
  </body>
</html>
