<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bankiizard - Your Financial Companion</title>
</head>
<body>
    <h1>Financial News</h1>
    <h2> To Keep You Updated with Business Insights.</h2>

    <% for (let i = 0; i < content.articles.length; i++) { %>
        <div>
            <h2><%= content.articles[i].title %></h2>
            <p><%= content.articles[i].description %></p>
            <a href="<%= content.articles[i].url %>">Read more</a>
        </div>
    <% } %>
    
</body>
</html>