<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bankiizard - Your Financial Companion</title>
    <link rel="stylesheet" href="style-fin-news.css">
</head>
<body>
    <header>
        <h1>Financial News</h1>
        <h2>To Keep You Updated with Business Insights.</h2>
    </header>

    <div class="container">
        <% 
            const shuffledArticles = content.articles.sort(() => Math.random() - 0.5);
            for (let i = 0; i < shuffledArticles.length; i++) { 
        %>
            <article>
                <h2><%= content.articles[i].title %></h2>
                <p><%= content.articles[i].description %></p>
                <a href="<%= content.articles[i].url %>" target="box">Read more</a>
            </article>
        <% } %>
    </div>
</body>
</html>
