<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bankiizard - Your Financial Companion</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <nav>
      <img src="download.webp" alt="Bankiizard Logo" class="logo">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </nav>
    
    <button type="button" class="menu-botton">
      <img src="haamibar.jpg" alt="bhoot" class="menu-icon">
  </button>
    <header>
      <h1>Bankiizard</h1>
      <p>Your Financial Companion</p>
    </header>

    <main>
      <section class="feature">
        <h2>Currency Exchange Calculator</h2>
        <p>
          Get real-time currency exchange rates and perform quick calculations.
        </p>
        <a href="/currencyconv" class="cta-button">Calculate Now</a>
      </section>

      <section class="feature">
        <h2>IFSC Code to Bank Details</h2>
        <p>Lookup bank details using IFSC codes for seamless transactions.</p>
        <a href="/bankdetails" class="cta-button">Lookup Now</a>
      </section>

      <section class="feature">
        <h2>Financial News</h2>
        <p>Stay informed with the latest financial news and updates.</p>
        <a href="/fin-news" class="cta-button">Read Now</a>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Bankiizard. All rights reserved.</p>
    </footer>
  </body>
</html>
