*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(12 18 30);
}

.detail-container1{
    background-image: url(/assets/Finance-Risk.jpg);
    z-index: 100;
}

.detail-container{
    align-items: center;
}

@media screen and  (max-width:420px){
    .detail-container1{
        align-items: center;
        background-image: url(/assets/Finance-Risk.jpg);
       background-size: cover;
    }
    
   
     li{
         margin-right: 3px;
         width: 250px;
         font-weight: 700;
         font-size: 1rem;
        
     }
     .heading{
       
        margin-left: 2rem;
    
    }
}

ul{
   list-style-type: none;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    margin-top: -5rem;
    z-index: 200; 
}

li{
    backdrop-filter: blur(50px);
    padding: 0.5rem;
    align-items:center ;
    width: 300px;
    font-weight: 700;
    font-size: 1rem;
    color: rgb(214, 200, 200);
}
.heading{
    color: white;
    padding: 2rem;
    font-weight: 900;
    font-size: 2rem;

}