*{
    padding:0;
    margin:0;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background-color: #8ab6f5; */
 width: 100%;
    /* background-image: linear-gradient(90deg, #020024 0%, #fb6542 35%, #ffbb00 100%); */



    line-height: 1.6;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgb(31, 30, 30) 0%, rgb(28, 28, 49) 67%, rgb(11, 49, 51) 100%);
} 
  body::-webkit-scrollbar{
    display: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #00246b, #3498db);
  padding: 0.4rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width:490px) {
  nav {
      display: flex;
  }
}

  nav img {
    height: 50px;
    margin-right: 1rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  header {
    color: #ecf0f1;
    padding: 0.8rem;
    text-align: center;
    background-color: #00246b;
  }
  
  header:hover {
    background: linear-gradient(to right, #34495e, #2980b9);
  }
  
  header h1 {
    margin: 0;
    font-size: 3rem;
    letter-spacing: 2px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  }
  
  main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
  }
 .right-box{
  padding-left: 55px;
  
 }
  .feature {
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 5rem;
    margin: 4.5rem;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s;
    box-shadow: 5px 5px 5px black;
    color: white;

    margin-bottom: 6rem;
   
  }
  .feature-box1{
    display: flex;
    justify-content: center;
    align-items: center;

}
  .feature-box1{
    display: flex;

  }
  @media (max-width:472px) {
    .feature-box1{
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .feature-box1 img{
    width: 60%;
  }
  .left-box1{
    gap: 2rem;
  }
  .feature-box2{
    display: flex;

    justify-content: center;
    align-items: center;
   

  }
  .left-box2 img{
    width: 60%;
  }
  @media (max-width:472px) {
    .feature-box2{
      display: flex;
      flex-wrap: wrap;
    }
  }
  .feature-box3{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .right-box3 img{
    width: 60%;
  }

  @media (max-width:472px) {
    .feature-box3{
      display: flex;
      flex-wrap: wrap-reverse;
      
    }
    
  }
  .feature:hover {
    transform: scale(1.1s);
    box-shadow: 0 15px 30px rgba(255, 250, 250, 0.2);
    color: #2c3e50;
    
  }
  
  .feature h2 {
    color: aliceblue;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .feature p {
    color: #ecf0f1;
  }
  
  .cta-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    background: linear-gradient(to right, #3498db, #2980b9);
    color: #fff;
    border-radius: 0.5rem;
    transition: 0.3s;
    box-shadow: 3px 3px 4px black;
    margin:2rem;
  }
  
  .cta-button:hover {
    background: linear-gradient(to right, #2980b9, #1f4788);
  }
  
  .icons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .icon {
    font-size: 2rem;
    margin: 0.5rem;
    color: #2c3e50;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: #3498db;
  }
  
  footer {
    background: linear-gradient(to right, #00246b, #3498db);
    color: #ecf0f1;
    text-align: center;
    padding:1rem;
    width: 100%;
    transition: 0.5s;
    font-weight: 700;
    position:static;
  }
  
  footer:hover {
    background: linear-gradient(to right, #34495e, #2f2d27);
  }
  
  .menu-botton {
    display: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px 10px ;
    margin-left: 85%;
    height: 2rem;

    
    
}
@media screen and (max-width:490px) {
 .menu-botton{
    display: block;
    
 }   
}
.menu-icon{
    height: 2rem;
    width: 2rem;
    border:none;
}
.logo{
  width: 3rem;
  height: 3rem; 
  border-radius: 2rem;
  margin:9px 9px ; 
 
}
.box{
  display: flex;
  margin-top: 120px;
  margin-bottom: 5rem;
  
}
@media (max-width:472px) {
  .box{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
 
}
.left-box,.right-box{
flex-basis: 50%;
}
.right-box img{
  width: 80%;
}

.left-box h1{
  font-size: 40px;
  
}
.left-box {
  /* padding-top: 10rem; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 1rem;
  padding: 4rem;
  align-content: space-around;
}
.avatar img{
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
.feedback{
  color: #fff;
  font-size: 1.3rem;
}
.contact_footer{
  position: absolute;
}
.contact_main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  padding-top: 4rem;
  gap: 2rem;
}

.contact_info h2{
  color: #fff;
  
}
.contact_info a{
  text-decoration: none;
  color: aliceblue;
/* display: flex;
justify-content: space-between;
  justify-content: center; */

  
}

.contact_info img{
  height: 1.5rem;
  width: 1.5rem;
}

.contact_main{
 border: 1px solid rgb(0, 0, 0);
 width: 700px;
 height: 500px;
 align-items: center;
 /* margin-top: 3rem; */
 flex-wrap: wrap;
 padding: 1rem;
 border-radius: 2rem;
}

.contact_main h1{
  color: #fff;
}
.contact_main:hover {
  transform: scale(1.1s);
  box-shadow: 0 15px 30px rgba(255, 250, 250, 0.2);
  color: #2c3e50;
  
}
.contact_container{
  display: flex;
  justify-content: center;
  margin: 3rem;
}
@media (max-width:490px) {
  .contact_container{
    width: REM
  }
  .contact_main{
    display: flex;
   align-items: center;
   width: 53%;
   margin-top: 7rem;
  }
  footer {
    position: absolute;
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
/* About */
.about_footer{
  position: absolute;
}
.container{
  border: 0.2px solid rgb(0, 0, 0);
  color:#fff ;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 500px;
  padding: 1rem;
  border-radius: 2rem;
  gap: 1rem;
}
.container:hover {
  transform: scale(1.1s);
  box-shadow: 0 15px 30px rgba(255, 250, 250, 0.2);
 
  
}
.container h1{
  color: #3498db;
}
.container h3{
  color: #2980b9;
}
.container h2{
  color:red;
}
.main_container1{
  display: flex;
  justify-content: center;
  margin: 3rem;
}