/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #a39274;
    color: #333;
    line-height: 1.6;   
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color: #252525;
     color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
     backdrop-filter: blur(10px);
}
header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header h2 {
    font-size: 24px;
}
article {
    background-color: #dfd8c8;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
article:hover {
     box-shadow: 2px 2px 3px #181717;
     transform: translateY(2px);
     transition: all;
}

article h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000000;
}

article p {
    font-size: 16px;
    color: #1f1c1c;
    font-weight: 600;
}

article a {
    display: inline-block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

article a:hover {
    text-decoration: underline;
}
